/* 
  Builds to /build/tailwind.css

  For this, we'll just use all tailwind classes (development), 
  so all Tailwind classes should be available

  Only change this file if you need to reuild based on changes
  to tailwind.config,js (optional), after which, you will need 
  to run `npm run build` to generate a modified tailwind.css file
*/
@tailwind base;
@tailwind components;
@tailwind utilities;